@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
h3 {
  @apply text-lg;
}

/* OUTLET */
.outlet-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* HEADER*/
.header {
  @apply flex justify-between items-center px-1.5 py-1 sm:min-h-[9vh];
}
.logo-searchbar {
  @apply flex flex-1 items-center;
}
.logo {
  @apply mx-4;
}
.search-voice-container {
  @apply flex items-center flex-1 sm:justify-end;
}
.searchbar-container {
  @apply flex border border-gray-200 rounded-3xl m-2 p-1 items-center justify-between sm:hidden;
}
.mobile-searchbar-container {
  @apply flex border border-gray-200 rounded-3xl m-2 p-1 items-center justify-between;
}
.search-input {
  @apply border-none focus:outline-none w-10/12 m-1;
}
.search-btn {
  @apply bg-gray-200 rounded-2xl p-2 hover:bg-gray-300;
}
.search-btn-disabled {
  @apply bg-gray-50 pointer-events-none;
}
.mic-container {
  @apply bg-black rounded-full p-2;
}
.more-apps {
  @apply bg-gray-200 rounded-full p-3;
}
.right-header-container {
  @apply flex items-center;
}
.new-video-container {
  @apply bg-black text-white rounded-[2.5rem] flex items-center my-1 mx-2 px-3.5 py-1;
}
.new-video-container img {
  @apply mx-2.5 my-1.5;
}
.user-container {
  @apply rounded-full;
}

/* .sidebar-outlet-container {
  @apply sm:relative;
} */

/*  SIDEBAR  */

.sidebar-container {
  @apply max-w-[240px] max-h-[80vh] sticky top-[8%] sm:bg-white sm:min-h-screen;
  /*sm:absolute sm:bg-white sm:z-20 sm:min-h-screen sm:top-0*/
}
.sidebar-button-container {
  @apply flex mx-2 hover:bg-[#f2f2f2] p-3 rounded-md font-light text-black opacity-90 items-center lg:flex-col lg:text-xs lg:w-[70%] lg:px-2 lg:text-center;
}
.sidebar-icon {
  @apply h-6 w-6 mx-2;
}
.icon-none {
  @apply hidden;
}
.active .for-active {
  width: 10px;
  height: 10px;
  border-radius: 40px;
  background-color: red;
}

/* Topics Chips */
.topics-container {
  @apply flex justify-around py-2 border-t border-b  border-[#e7e7e7] my-1;
}
.topics-chip {
  @apply rounded-2xl px-1.5 py-1 border border-[#4d4c52] text-sm font-light hover:text-white hover:bg-black cursor-pointer;
}

/* Video List */
.main-body-container {
  @apply bg-[#f1f1f1] rounded-lg z-10 pt-1 w-[100%] sm:bg-transparent;
}
.popular-videos-container {
  @apply flex flex-wrap 2xl:min-h-screen justify-center;
}

/* Video Card */
.video-card {
  @apply relative overflow-hidden min-h-[180px] flex flex-col justify-between rounded-xl hover:transition-transform hover:scale-110;
}
.video-card-wrapper {
  @apply max-w-xs w-4/5;
}
.channel-duration-container {
  @apply flex justify-between m-2 items-center;
}
.channel-container {
  @apply bg-white rounded-2xl p-1.5 text-xs flex justify-between text-[#9c9ba0] font-normal max-w-[150px] overflow-hidden;
}
.channel-container span {
  @apply ml-1;
  font-size: 11px;
}
.duration-container {
  @apply backdrop-blur-md bg-gray-300/30 text-white rounded-xl px-1.5 py-1;
  font-size: 9px;
}
.thumbnail {
  @apply -z-10 absolute top-0;
}
.video-info-glass-ui {
  @apply backdrop-blur-md bg-gray-500/30 text-white;
}
.video-info-glass-ui p {
  @apply text-sm font-normal truncate ml-2;
}
.video-info-glass-ui span {
  @apply text-xs font-thin ml-2 mr-1;
  font-size: 11px;
}

/* Video Preview */
.video-preview-container {
  @apply min-h-[90vh];
}
.video-and-channel-info {
  @apply w-[70%] lg:w-full;
}
.preview-video {
  @apply w-full min-h-[70vh] sm:min-h-[50vh] max-h-[720px];
}
.preview-suggested-videos-container {
  @apply flex justify-between lg:flex-col;
}
.suggested-videos-container {
  @apply w-1/4 lg:w-full;
}

/* SUGGESTED VIDEO CARD */
.suggested-video-card-container {
  @apply flex items-center mr-4 mt-4 hover:bg-[#f2f2f2] p-2 rounded-lg;
  min-height: 100px;
}
.suggested-card-info {
  @apply w-2/3;
}
.suggested-card-info h4 {
  @apply text-base font-medium w-full;
  text-overflow: ellipsis;
}

/* Video Info */
.video-info-container {
  @apply ml-3 mt-3 mb-3 flex justify-between items-center sm:flex-col sm:items-start;
}
.title-views {
  @apply flex-grow-[2];
}
.title-views span {
  @apply text-sm text-[#606060];
}
.control-section {
  @apply flex flex-grow-[1] justify-evenly items-center sm:w-full sm:justify-around;
}
.control-btn {
  @apply flex flex-col items-center bg-[#f2f2f2] rounded-2xl p-2 hover:bg-[#dedede];
}
.control-btn span {
  @apply text-xs;
}
.like-dislike-btn {
  @apply bg-[#f2f2f2] p-2 hover:bg-[#dedede] rounded-2xl;
}

/* Channel Hero */
.channel-hero {
  @apply flex items-center;
}
.channel-stats span {
  @apply mr-2;
}
.channel-hero img {
  @apply rounded-full;
}
.channel-description {
  @apply border-b-2 border-[#d0d7de] py-2 my-2;
}
.stats-container {
  @apply flex flex-col w-1/2;
}
.stats-container span {
  @apply border-b-2 border-[#d0d7de] py-2;
}
.stats-icon {
  @apply hover:bg-[#5050503b] p-2 rounded-full;
}

/*Search Styles*/

.search-tile {
  @apply p-2 hover:bg-[#f2f2f2];
}

/* Search Page */
.search-videos-container {
  @apply max-w-5xl flex flex-col items-center;
}
.search-card-container {
  @apply flex justify-evenly items-center min-h-[200px] mb-4 hover:bg-[#f2f2f2] sm:flex-col sm:items-center;
}
.search-card-info {
  @apply flex flex-col text-[#606060];
}
.search-card-info h3 {
  @apply text-black text-xl sm:text-lg;
}
.search-card-channel {
  @apply flex items-center my-2;
}
.search-card-channel span {
  @apply ml-2;
}
.search-card-thumbnail {
  @apply rounded-lg object-cover;
}
.thumbnail-container {
  @apply sm:flex sm:justify-center;
}

/* SHIMMER UI */
/* .popular-video-shimmer {
  @apply 
} */

/* MEDIA QUERIES */
@media (min-width: 639px) {
  .searchbar-mobile-btn {
    display: none;
  }
  .mobile-sidebar {
    display: none;
  }
}
@media (max-width: 510px) {
  .mic-container {
    display: none;
  }
  .more-apps {
    display: none;
  }
}
@media (max-width: 490px) {
  .topics-container {
    display: none;
  }
}
@media (max-width: 440px) {
  .new-video-container {
    @apply px-1.5;
  }
  .new-video-container p {
    display: none;
  }
}

@media (max-width: 329px) {
  .new-video-container {
    display: none;
  }
  .searchbar-mobile-btn {
    @apply mr-1;
  }
  .search-card-info {
    @apply w-full;
  }
  .search-card-info h3 {
    @apply text-base;
  }
  .search-result-card-description {
    @apply hidden;
  }
}
