@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* HEADER*/
.header {
  @apply flex justify-between items-center mx-1.5 my-1;
}
.logo-searchbar {
  @apply flex flex-1 items-center;
}
.logo {
  @apply mx-4;
}
.search-voice-container {
  @apply flex items-center flex-1 sm:justify-end;
}
.searchbar-container {
  @apply flex border border-gray-200 rounded-3xl m-2 p-1 items-center max-w-lg justify-between flex-1 sm:hidden;
}
.search-input {
  @apply border-none focus:outline-none w-10/12 m-1;
}
.search-btn {
  @apply bg-gray-200 rounded-2xl p-2;
}
.mic-container {
  @apply bg-black rounded-full p-2;
}
.more-apps {
  @apply bg-gray-200 rounded-full p-3;
}
.right-header-container {
  @apply flex items-center;
}
.new-video-container {
  @apply bg-black text-white rounded-[2.5rem] flex items-center my-1 mx-2 px-3.5 py-1;
}
.new-video-container img {
  @apply mx-2.5 my-1.5;
}
.user-container {
  @apply rounded-full;
}

/*  SIDEBAR  */

.sidebar-container {
  @apply max-w-[240px] max-h-[80vh];
}
.sidebar-button-container {
  @apply flex mx-2 hover:bg-[#f2f2f2] p-3 rounded-md font-light text-black opacity-90 items-center lg:flex-col lg:text-xs lg:w-[70%] lg:px-2 lg:text-center;
}
.sidebar-icon {
  @apply h-6 w-6 mx-2;
}
.icon-none {
  @apply hidden;
}
.active .for-active {
  width: 10px;
  height: 10px;
  border-radius: 40px;
  background-color: red;
}

/* Topics Chips */
.topics-container {
  @apply flex justify-around py-2 border-t border-b  border-[#e7e7e7] my-1;
}
.topics-chip {
  @apply rounded-2xl px-1.5 py-1 border border-[#4d4c52] text-sm font-light hover:text-white hover:bg-black cursor-pointer;
}

/* Video List */
.main-body-container {
  @apply bg-[#f1f1f1] rounded-lg z-10 pt-1 w-[100%];
}
.popular-videos-container {
  @apply flex flex-wrap min-h-screen justify-center;
}

/* Video Card */
.video-card {
  @apply relative overflow-hidden min-h-[180px] flex flex-col justify-between rounded-xl hover:transition-transform hover:scale-110;
}
.video-card-wrapper {
  @apply max-w-xs w-4/5;
}
.channel-duration-container {
  @apply flex justify-between m-2 items-center;
}
.channel-container {
  @apply bg-white rounded-2xl p-1.5 text-xs flex justify-between text-[#9c9ba0] font-normal max-w-[150px] overflow-hidden;
}
.channel-container span {
  @apply ml-1;
  font-size: 11px;
}
.duration-container {
  @apply backdrop-blur-md bg-gray-300/30 text-white rounded-xl px-1.5 py-1;
  font-size: 9px;
}
.thumbnail {
  @apply -z-10 absolute top-0;
}
.video-info-glass-ui {
  @apply backdrop-blur-md bg-gray-500/30 text-white;
}
.video-info-glass-ui p {
  @apply text-sm font-normal truncate ml-2;
}
.video-info-glass-ui span {
  @apply text-xs font-thin ml-2 mr-1;
  font-size: 11px;
}

/* Video Preview */
.video-preview-container {
  @apply max-w-7xl w-[100%] min-h-[90vh];
}
.video-and-channel-info {
  @apply w-[70%];
}
.preview-video {
  @apply w-full min-h-[70vh];
}
.preview-suggested-videos-container {
  @apply flex justify-between;
}
.suggested-videos-container {
  @apply w-1/4;
}

/* MEDIA QUERIES */
@media (min-width: 639px) {
  .searchbar-mobile-btn {
    display: none;
  }
}
